.Nav {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.App-account {
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: space-between;
}

@media only screen and (min-width: 450px) {
  .App-account {
    width: 200px;
  }
}
