.Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 15px
}
.Footer-app-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Footer-links{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.Footer-links>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 700px) {
    .Footer{
        flex-direction: row;
        height: 200px; 
    }

}