.ExploreBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px;
}
.Banner-subdescription{
    width: 200px
}
.Banner-images {
  background-color: gray;
  height: 500px;
  width: 450px;
  border-radius: 3%;
  margin: 0 auto;
}
.Banner-images-jpg{
  height: 500px;
  width: 450px;
  border-radius: 3%;
}
.Banner-button {
  width: 75px;
}
.Banner-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
    .ExploreBanner {
      flex-direction: row;
    }
  }